@charset "UTF-8";

body {
    background: gray;
    font-family: "M PLUS 1p", sans-serif;
}



/* header */
header {

}

.page-header {
    display: flex;
    justify-content: space-between;
}

/* article */
article {
    width: 74%;
    background-color: whitesmoke;
    text-align: justify;
    padding: 5px 40px;
}

article p {
    margin-bottom: 1rem;
}

.page-article {

}



/* aside */
aside {
    width: 22%;
    background-color: aliceblue;
    padding: 0 30px 0;
}

aside p {
    padding: 12px 10px;
}

.page-aside {

}

.aside-title {
    font-size: 1.375rem;
    padding: 0 8px 8px;
    border-bottom: 2px darkblue solid;
    font-weight: bold;
}

.aside-menu {
    margin-bottom: 40px;
    padding: 0 8px 10px;
    list-style: none;
}

.aside-menu li {
    border-bottom: 1px #ddd solid;
    padding: 8px 0px;
}

.aside-menu a {
    color: lightgray;
    padding: 10px;
    display: block;
}

.aside-menu a:hover {
    color: dimgray;
}



/* footer */
footer {
    display: flex;
    background-color: darkgray;
    margin: 10px 0;
    border-width: 2px;
    border-style: solid;
    border-color: dimgray;
    padding: 5px 40px;
}

.page-footer {

}

.contents {
    display: flex;
    justify-content: space-between;
    margin-bottom: 50px;
}

.footer-left,
.footer-right {
    flex: 1;
    text-align: left;
}



h2 {
    border-width: 1px;
    border-style: none solid solid none;
    font-family: "M PLUS 1p", sans-serif;
    font-weight: 400;
    font-style: normal;
    color: #0D2A52;
}

p {
    line-height: 1.7;
    font-weight: 300;
    font-style: normal;
}

a {
    text-decoration: none;
}

ul {
    list-style-type: square;
}

/* Navigation style */
.main-nav {
    display: flex;
    text-transform: uppercase;
    margin-top: 30px;
    list-style: none;
}

.main-nav li {
    margin-left: 30px;
}

.main-nav a {
    color: black;
}
/* --------------------------- */

.delete-line {
    text-decoration: line-through;
}

.green {
    color: yellowgreen;
}

.red {
    color: mediumvioletred;
}

img {
    max-width: 70%;
    margin: 0 auto;
}

.logo {
    max-width: 200px;
    margin: 20px 20px;
}

.image {
    text-align: center;
    display: inline-block;
}

.link-no-color-change {
    color: black;
}

.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    align-content: space-around;
}

.container img {
    width: 100%;
    height: auto;
    margin-top: 10px;
}

.item {
    display: flex;
    flex: 1;
    flex-direction: column;
    border-width: 1px;
    border-style: solid;
    text-align: center;
    margin: 10px;
    padding: 10px;
}

/* favicon bg setting(svg)*/
path {
    fill: #0bd;
}
@media (prefers-color-scheme: dark) {
    path {
        fill: #faa;
    }
}

/* */