@charset "UTF-8";

body, html {
    margin: 0;
    padding: 0;
}

body {
    background: dimgray;
    font-family: "M PLUS 1p", sans-serif;
}



/*========== header ==========*/
header {
    width: 100%;
    display: flex;
    padding: 0 5px;
    background: #0d1117;
    align-items: center;
}

.page-header {
    display: flex;
    justify-content: space-between;
    position: relative;
}



/*========== article ==========*/
article {
    width: 76%;
    background-color: whitesmoke;
    text-align: justify;
    padding: 5px 40px;
}

article p {
    margin-bottom: 1rem;
}



/* aside */
aside {
    width: 24%;
    background-color: aliceblue;
    padding: 0 30px 0;
}

aside h4, p, img {
    padding: 0 10px;
    font-weight: normal;
}

.aside-title {
    font-size: 1.375rem;
    padding: 0 8px 4px;
    border-bottom: 2px darkblue solid;
    font-weight: bold;
}

.aside-menu {
    margin-bottom: 40px;
    padding: 0 8px 8px;
    list-style: none;
}

.aside-menu li {
    width: 100%;
    border-bottom: 1px black solid;
    padding: 8px 0 8px 8px;
}

.aside-menu a {
    color: lightslategray;
    padding: 1px;
    display: block;
}

.aside-menu a:hover {
    color: black;
}



/*========== footer ==========*/
footer {
    width: 100%;
    display: flex;
    background-color: #283446;
    padding: 10px 0;
    margin: 0;
    justify-content: center;
    position: relative;
}

footer p {
    color: whitesmoke;
}



.contents {
    display: flex;
    justify-content: center;
}

h2 {
    border-width: 1px;
    border-style: none solid solid none;
    font-family: "M PLUS 1p", sans-serif;
    font-weight: 400;
    font-style: normal;
    color: #0D2A52;
}

p {
    line-height: 1.7;
    font-weight: 300;
    font-style: normal;
}

a {
    text-decoration: none;
}

ul {
    list-style-type: square;
}



/* --------------------------- */

.delete-line {
    text-decoration: line-through;
}

img {
    max-width: 70%;
    margin: 0 auto;
}

.logo {
    max-width: 160px;
    height: auto;
    margin: 20px 20px 15px;
}

.image {
    text-align: center;
    display: inline-block;
}

.link-no-color-change {
    color: black;
}

.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    align-content: space-around;
}

.container img {
    width: 100%;
    height: auto;
    margin-top: 10px;
}

.item {
    display: flex;
    flex: 1;
    flex-direction: column;
    border-width: 1px;
    border-style: solid;
    text-align: center;
    margin: 10px;
    padding: 10px;
}

.wrapper {
    max-width: 100%;
    margin: 0 auto;
    padding: 0 4%;
}

/* favicon bg setting(svg)*/
path {
    fill: #0bd;
}
@media (prefers-color-scheme: dark) {
    path {
        fill: #faa;
    }
}

/* ============================================================================== */
/*========= LoadingのためのCSS ===============*/

/* Loading背景画面設定　*/

#splash {
    /*fixedで全面に固定*/
    position: fixed;
    z-index: 999;
    width: 100%;
    height: 100%;
    background:#333;
    text-align:center;
    color:#fff;
}

/* Loadingバー中央配置　*/
#splash_text {
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 999;
    width: 100%;
    transform: translate(-50%, -50%);
    color: #fff;
}



/*==================================================
共通　横並びのための設定
===================================*/
.gnavi{
    display: flex;
    flex-wrap: wrap;/*スマホ表示折り返し用なのでPCのみなら不要*/
    margin:0 0 40px 0;
    list-style: none;
}

.gnavi li a{
    display: block;
    padding: 8px 4px 4px 2px;
    text-decoration: none;
    color: #333;
}

/*==================================================
　5-3-11 左右から線が伸びて枠線になる
===================================*/

.gnavi li{
    /*線の基点とするためrelativeを指定*/
    position: relative;
}

/*線の基点位置*/
.gnavi li::before,
.gnavi li::after{
    content:"";
    /*絶対配置で線の位置を決める*/
    position: absolute;
    /*線の形状*/
    width: 0;
    height:1px;
    background:#0481A2;
    /*アニメーションの指定*/
    transition: all 0.1s linear;
    transition-delay: 0.1s;
}

.gnavi li::before{
    right: 0;
    top: 0;
}
.gnavi li::after{
    left: 0;
    bottom: 0;
}

/*線の基点位置2 spanタグ*/

.gnavi li span{
    display: block;
}

.gnavi li span::before,
.gnavi li span::after{
    content:"";
    /*絶対配置で線の位置を決める*/
    position: absolute;
    /*線の形状*/
    width:1px;
    height:0;
    background: #0481A2;
    /*アニメーションの指定*/
    transition: all 0.1s linear;
}

.gnavi li span::before{
    left: 0;
    top: 0;
}
.gnavi li span::after{
    right: 0;
    bottom: 0;
}

/*現在地とhoverした際の線の変化*/

.gnavi li.current::before,
.gnavi li.current::after,
.gnavi li:hover::before,
.gnavi li:hover::after{
    width: 100%;/*横幅を100%に*/
}

.gnavi li.current span::before,
.gnavi li.current span::after,
.gnavi li:hover span::before,
.gnavi li:hover span::after{
    height: 100%;/*縦幅を100%に*/
}



/*========= ページトップのためのCSS ===============*/

/*リンクの形状*/
#page-top a{
    display: flex;
    justify-content:center;
    align-items:center;
    background:black;
    border-radius: 0;
    width: 70px;
    height: 70px;
    color: #fff;
    text-align: center;
    text-transform: uppercase;
    text-decoration: none;
    font-size:0.6rem;
    transition:all 0.3s;
}

#page-top a:hover{
    opacity: .6; /* ドロップダウンメニューアイテムのホバー時の不透明度 */
    transition: opacity .3s; /* 不透明度の変化をアニメーション化 */
}

/*リンクを右下に固定*/
#page-top {
    position: fixed;
    right: 10px;
    bottom:10px;
    z-index: 2;
    /*はじめは非表示*/
    opacity: 0;
    transform: translateY(100px);
}

/*　上に上がる動き　*/

#page-top.UpMove{
    animation: UpAnime 0.5s forwards;
}
@keyframes UpAnime{
    from {
        opacity: 0;
        transform: translateY(100px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

/*　下に下がる動き　*/

#page-top.DownMove{
    animation: DownAnime 0.5s forwards;
}
@keyframes DownAnime{
    from {
        opacity: 1;
        transform: translateY(0);
    }
    to {
        opacity: 1;
        transform: translateY(100px);
    }
}



/*========== ナビゲーションメニュー ==========*/
.nav-menu {
    color: #fff; /* メニューテキストの色 */
    margin-left: auto;
    margin-right: 40px;
}
.menu-list {
    display: flex;
    justify-content: center; /* メニューアイテムを中央揃えに */
    list-style: none;
}
.menu-item {
    border-left: 1px solid #fff; /* メニューアイテムの左ボーダー */
    position: relative;
    transition: background-color .3s; /* 背景色の変化をアニメーション化 */
}
.menu-item:last-child {
    border-right: 1px solid #fff; /* 最後のメニューアイテムの右ボーダー */
}

/* メニューアイテムのホバースタイル */
.menu-item:hover .drop-menu-list {
    transform: scaleY(1); /* ドロップダウンメニューの表示 */
}
.menu-item:hover {
    background-color: #696969; /* メニューアイテムのホバー時の背景色 */
    transition: background-color .3s; /* 背景色の変化をアニメーション化 */
}
.drop-menu-item:hover {
    opacity: .7; /* ドロップダウンメニューアイテムのホバー時の不透明度 */
    transition: opacity .3s; /* 不透明度の変化をアニメーション化 */
}

.menu-item a {
    align-items: center;
    color: #fff; /* メニューアイテム内のリンクテキストの色 */
    display: flex;
    height: 50px;
    justify-content: center;
    text-decoration: none; /* リンクの下線を非表示 */
    width: 120px;
}

/* ドロップダウンメニュー */
.drop-menu {
    position: relative;
}
.drop-menu-list {
    left: 0;
    position: absolute;
    top: 100%;
    transform: scaleY(0); /* ドロップダウンメニューの非表示 */
    transform-origin: center top; /* 変形を適応する基準を設定 */
    transition: transform .3s; /* 表示の変化をアニメーション化 */
    width: max-content;
    z-index: 1;
    list-style: none;
}
.drop-menu-item {
    background-color: #333; /* ドロップダウンメニューの背景色 */
    transition: opacity .3s; /* 不透明度の変化をアニメーション化 */
}

/* mobile */
@media (max-width: 600px) {
    .page-title {
        font-size: 2.5rem;
    }
    .nav-menu {
        font-size: 1rem;
    }
    .nav-menu li {
        margin: 0 20px;
    }
    .home-content {
        margin-top: 20%;
    }
    .page-header {
        flex-direction: column;
        align-items: center;
    }
    .contents {
        flex-direction: column;
    }
    article,
    aside {
        width: 100%;
    }
}