h2 {
    font-family: "M PLUS 1p Medium", sans-serif;
    font-style: normal;
    padding: 5px 15px;
    border-left: darkgray solid 1px;
    border-bottom: darkgray solid 3px;
}

p {
    font-family: "M PLUS 1p", sans-serif;
    font-style: normal;
}


article {
    margin: 10px;
}




/* prog-lang-tile */
.prog-lang-tile-container {
    display: flex;
    flex-wrap: wrap;
}

.prog-lang-tile-item {
    outline: black solid 2px;
    margin: 10px;
    padding: 10px;
}

.prog-lang-img {
    width: 150px;
    height: 150px;
    object-fit: contain;
}



.timeline {
    list-style: none;
    margin: 10px 0;
}

.timeline > li {
    overflow: hidden;
    margin: 0;
    position: relative;
}
.timeline-date {
    width: 110px;
    float: left;
    padding: 10px 0;
    border-right: 3px lightblue solid;

}
.timeline-content {
    width: 75%;
    float: left;
    padding-left: 25px;
    padding-top: 10px;
}
.timeline-content:before {
    content: '';
    width: 12px;
    height: 12px;
    background: #1760a0;
    position: absolute;
    left: 103px;
    top: 15px;
    transform: rotate(45deg);
}



/* page-tile */
.page-tile-container {
    display: flex;
    flex-wrap: wrap;
}

.page-tile-item {
    background-color: #1760a0;
    color: white;
    margin: 10px;
    padding: 10px;
}



/* footer */
footer {
    background: black;
    text-align: center;
    padding: 26px 0;
}

footer p {
    color: white;
}